.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  height: 7px;
  background-color: transparent;

  &--active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 6px;
    background-color: #5777e4;
    box-shadow: 3px 3 3px 15px #5777e4;
    animation: moveLoadBar 2s cubic-bezier(.09,.89,.7,.71) infinite;
  }
}

@keyframes moveLoadBar {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid blue;
  border-right: 10px solid green;
  border-bottom: 10px solid red;
  border-left: 10px solid pink;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
